
body{
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
#svgContainer {
  width: 400px;
  height: 400px;
  background-color: #a0a0a0;
}
canvas {
  background-color: black;
  background: url(https://superdevresources.com/wp-content/uploads/2015/12/blurred1.jpg) no-repeat center center fixed;
    margin: 0;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 650px;
    font-family: sans-serif;
  /* border-radius: 32px; */
  /* z-index:-1; */
}

a{
  display: block;
  text-align:center;
  margin: 10px auto;
  width: 100%;
  color: #2c3e50;
}
.btn{
  position: absolute;
  bottom: -30px;

  right: 40%;

  width: 70px;
  display: inline-block;
  border-radius: 25px;
  background-color: #ec9f33;
  color: #FFFFFF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  
  /* z-index:1; */
}
.refresh{
  right: 52%;
}
.btn:hover {
  background-color: #fc9300;
}
.container {
  width: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame{
  margin: 50px;
  padding: 100px;
  padding-top: 0;
  border: 1px solid black;
  background-color: beige;
}

.subframe{
  /* padding: 20px; */
  /* padding-bottom: 100px; */
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  
}
.title{
  font-size: 40px;
  text-align: center;
}
#img-out{
  display: none;
}